html {
  font-family: "Open Sans", sans-serif;
}

#main {
  margin: 25px 10px;
  background-color: #e4e4e4;
  padding: auto 30px;
  text-align: center;
  border-radius: 5px;
}

#tribute-info {
  width: 40%;
  text-align: left;
}
#closing-line {
  font-size: 1.25rem;
  font-weight: 700;
}

#closing-line #tribute-link {
  text-decoration: none;
}
